body{
  padding: 24px;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/166/681/289/super-mario-bros-3-super-mario-video-games-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}